<?xml version="1.0"?>
<phpunit bootstrap="../vendor/autoload.php" cacheResult="false">
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="../var/coverage.xml"/>
  </logging>

  <testsuites>
    <testsuite name="all">
      <directory suffix="Test.php">../test</directory>
    </testsuite>
  </testsuites>
</phpunit>
